<script>
	window.fieldId = '<?= $field->getId() ?>';
</script>
<?php if ($this->previewMode): ?>

    <div class="form-control">
        <?= $value ?>
    </div>
<input 
    id="<?= $field->getId() ?>"
    name="<?= $field->getName() ?>"
	type="hidden"
	value="<?= $value ?>"/>
<div id="YMapsID" data-preview="true" ></div>


<?php else: ?>

<input
    id="<?= $field->getId() ?>"
    name="<?= $field->getName() ?>"
	class="form-control"
	value="<?= $value ?>"/>
<div id="YMapsID"></div>

<?php endif ?>