<?php if ($this->previewMode): ?>

    <div class="form-control">
        <table class="table-responsive">
        	<thead>
        		<tr>
        			<td>Период</td>
        			<td>Режим работы</td>
        		</tr>
        	</thead>
        	<tbody>
        		<tr>
        			<td>Понедельник - пятница</td>
        			<td><?= $value['monfri_from'] ?> - <?= $value['monfri_to'] ?></td>
        		</tr>
        		<tr>
        			<td>Суббота</td>
        			<td><?= $value['sat_from'] ?> - <?= $value['sat_to'] ?></td>
        		</tr>
        		<tr>
        			<td>Воскресенье</td>
        			<td><?php if($value['sun_from'] !== '') { echo $value['sun_from']; ?> - <?php echo $value['sun_to']; } else { ?>Выходной<?php } ?></td>
        		</tr>
        	</tbody>
        </table>
    </div>
<?php else: ?>
<div class="col-sm-12">
	<p>Укажите время в 24-часовом формате, например 19:00. Оставьте день пустым, если он - выходной.</p>
</div>
<div class="col-xs-3">
	<label for="monfri_from">Открытие с пн по пт</label>
	<input class="form-control input-shopdesk" id="monfri_from" name="<?= $name ?>[monfri_from]" value="<?php if(is_array($value)) { echo $value['monfri_from']; } ?>" placeholder="Начало работы с пн по пт"/>
</div>
<div class="col-xs-3">
	<label for="monfri_to">Закрытие с пн по пт</label>
	<input class="form-control input-shopdesk" id="monfri_to" name="<?= $name ?>[monfri_to]" value="<?php if(is_array($value)) { echo $value['monfri_to']; } ?>" placeholder="Конец работы с пн по пт"/>
</div>
<div class="col-xs-3">
	<label for="sat_from">Открытие в субботу</label>
	<input class="form-control input-shopdesk" id="sat_from" name="<?= $name ?>[sat_from]" value="<?php if(is_array($value)) { echo $value['sat_from']; } ?>" placeholder="Открытие в субботу" />
</div>
<div class="col-xs-3">
	<label for="sat_to">Закрытие в субботу</label>
	<input class="form-control input-shopdesk" id="sat_to" name="<?= $name ?>[sat_to]" value="<?php if(is_array($value)) { echo $value['sat_to']; } ?>" placeholder="Закрытие в субботу" />
</div>
<div class="col-xs-3">
	<label for="sun_from">Открытие в вс</label>
	<input class="form-control input-shopdesk" id="sun_from" name="<?= $name ?>[sun_from]" value="<?php if(is_array($value)) { echo $value['sun_from']; } ?>" placeholder="Открытие в вс"/>
</div>
<div class="col-xs-3">
	<label for="sun_to">Закрытие в вс</label>
	<input class="form-control input-shopdesk" id="sun_to" name="<?= $name ?>[sun_to]" value="<?php if(is_array($value)) { echo $value['sun_to']; } ?>" placeholder="Закрытие в вс"/>
</div>

<?php endif ?>