<?php if ($this->previewMode): ?>

    <div style="overflow-y: scroll; height:400px;">
        <pre><?= $value ?></pre>
    </div>

<?php else: ?>
    <pre>
        <textarea
        id="<?= $this->getId('input') ?>"
        name="<?= $name ?>"
        autocomplete="off"
        class="form-control field-textarea size-huge ?>"
        <?=$field->getAttributes();?>><?= $value ?></textarea>
    </pre>
<?php endif ?>
