<?php if ($this->previewMode): ?>

    <div class="form-control">
        +7&nbsp;<?= $value ?>
    </div>

<?php else: ?>
<div class="js-phone">

    <div class="input-group">
      <span class="input-group-addon">+7</span>
      <input type="text"  id="<?= $field->getId() ?>" class="form-control" name="<?= $field->getName() ?>" value="<?= $value ?>">
    </div>
</div>

<?php endif ?>